<p>
  <div class="media">
    <img class="img img-rounded" src="https://avatars1.githubusercontent.com/u/14631?v=2&s=100" alt="Chris Wilson" class="pull-left">
  </div>
  <div class="media-body">
    {% if site.email %}
    <span>
      <a href="mailto:{{ site.email }}"><i class="fa fa-lg fa-envelope-square"></i></a>
    </span>
    {% endif %}
    {% if site.linkedin_username %}
    <span>
      <a href="https://linkedin.com/in/{{ site.linkedin_username }}"><i class="fa fa-lg fa-linkedin-square"></i></a>
    </span>
    {% endif %}
    {% if site.twitter_username %}
    <span>
      <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-lg fa-twitter-square"></i></a>
    </span>
    {% endif %}
    {% if site.github_username %}
    <span>
      <a href="http://github.com/{{ site.github_username }}"><i class="fa fa-lg fa-github-square"></i></a>
    </span>
    {% endif %}
    {% if site.facebook_profile_id %}
    <span>
      <a href="http://facebook.com/{{ site.facebook_profile_id }}"><i class="fa fa-lg fa-facebook-square"></i></a>
    </span>
    {% endif %}
    <!-- {% if site.google_plus_profile_id %}
    <span>
      <a href="http://plus.google.com/{{ site.google_plus_profile_id }}"><i class="fa fa-lg fa-google-plus-square"></i></a>
    </span>
    {% endif %} -->
  </div>
</p>
